$width: 480px;
$height: 640px;
$color__background: #494786;
$color__main: #c4bebb;
$color__main__shadow: #8a8887;
$color__second: #272929;
$color__contrast: #9a2257;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-callout: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
  user-select: none;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr $width 1fr;
  grid-template-rows: $height 180px;
  gap: 0px 0px;
  grid-template-areas:
    ". game ."
    ". button .";
  overflow: hidden;
  background-color: $color__background;
}

.controller {
  box-shadow: 8px 6px 0 $color__main__shadow;
  padding-left: 40px;
  grid-area: button;
  background-color: $color__main;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  grid-template-columns: 55px 55px 55px;
  grid-template-rows: 55px 55px 55px;
  gap: 0px 0px;
  grid-template-areas:
    ". ArrowUp ."
    "ArrowLeft . ArrowRight"
    ". ArrowDown  .";
  button {
    $angle: 8px;
    $angle-o: 4px;
    $color__shadow: #404040;

    border-radius: 40px;
    outline: none;
    width: 55px;
    height: 55px;
    border: 2px solid $color__second;
    transition: all 0.15s linear 0s;
    position: relative;

    box-shadow: -6px 6px 0 $color__shadow;
    text-decoration: none;

    &:active {
      top: 3px;
      left: -3px;
      box-shadow: -3px 3px 0 $color__shadow;

      &::after {
        top: 1px;
        left: -2px;
        width: $angle-o;
        height: $angle-o;
      }

      &::before {
        bottom: -2px;
        right: 1px;
        width: $angle-o;
        height: $angle-o;
      }
    }
  }
  .ArrowUp {
    background-color: $color__second;
    grid-area: ArrowUp;
  }
  .ArrowRight {
    background-color: $color__contrast;
    grid-area: ArrowRight;
  }
  .ArrowDown {
    background-color: $color__contrast;
    grid-area: ArrowDown;
  }
  .ArrowLeft {
    background-color: $color__second;
    grid-area: ArrowLeft;
  }
}

.game {
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 8px 0 0 $color__main__shadow;
  grid-area: game;
  width: $width;
  height: $height;
  position: relative;
  background-color: $color__main;
  border: 30px solid $color__main;

  canvas {
    border: 15px solid $color__second;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

#ui-layer {
  z-index: 3;
}

#game-layer {
  z-index: 2;
}
#background-layer {
  z-index: 1;
  background-image: url(../files/img/space.gif);
}

@media (max-width: 480px) {
  body {
    background-color: $color__main;
  }
  .controller {
    box-shadow: none;
  }
  .game {
    margin-top: 0px;
    box-shadow: none;
  }
}
